<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtLzd8gfE1XryqVMr4c46n_6BrW9j3QRM</string>
	<key>GCM_SENDER_ID</key>
	<string>102450913225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authScreen.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-auth-b763d</string>
	<key>STORAGE_BUCKET</key>
	<string>my-auth-b763d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102450913225:ios:ee0116a6ad07d93d371218</string>
</dict>
</plist>